* {
    margin: 0;
    padding: 0;
    color: white;
}

@font-face {
    font-family: NetflixSans;
    src: url(../font/NetflixSans-Regular.otf);
}

header {
    margin-bottom: 5rem;
}

body{
    font-family: NetflixSans;
}

.bg-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/background.jpg");
}

.bg-3{
    background-color: #141414;
}

.mr-1{
    margin-right: 1rem;
}

/* Titles */
h1 {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: 4rem;
}

a{
    text-decoration: none;
}


/* TEXT */

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

/* FLEXBOX */

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}


/* BUTTONS */

.btn{
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}

.btn-primary {
    background-color: #E50914;
}

.btn-primary:hover{
    background-color: #b20710;
}

.btn-secondary {
    background-color: black;
    border: 1px solid white;
}


/* INPUTS */

input{
    font-size: large;
    margin: 1rem 0rem;
    padding: 0.8rem;
    background-color: rgba(48, 64, 77, 0.49);
    border: 1px solid #767676;
    border-radius: 5px;
}

input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.logo{
    cursor: pointer;
}

.titles {
    margin: 0rem 35rem;
}


/* SIGN-UP */

.signupForm{
    margin: 5rem auto;
    max-width: 25rem;
    padding: 3rem 5rem;
    background-color: rgba(0, 0, 0, 0.846);
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.signupForm h2{
    font-size: xx-large;
    margin-bottom: 5rem;
}

.signupForm button{
    margin: 2rem 0rem;
}


/* SIGN-IN */

.signinForm{
    margin: 5rem auto;
    max-width: 28rem;
    padding: 2rem 0rem;
    background-color: rgba(0, 0, 0, 0.846);
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.signinForm form{
     width: 80%;
}

.signinForm h2{
    font-size: xx-large;
    margin-bottom: 3rem;
}

.signinForm button{
    margin: 2rem 0rem 1rem 0rem;
}


/* PROFILE PAGE */

.bg-2{
    background-color: black;
}

.banner{
    height: 80vh;
    background-position: center;
    background-image: url('../image/banner.webp');
    background-size: cover;
    box-shadow: inset 0 -20px 20px -10px rgba(0, 0, 0, 0.8);
}

.navbar{
    background-color: #0a0a0a67;
    box-shadow: 0 5px 40px 5px rgba(0, 0, 0, 0.5);
}


/* SubNav */

.navContainer {
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #141414;
    border: 1px solid #444;
    border-radius: 0.5rem;
    min-width: 160px;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navContainer:hover .sub-menu {
    display: block;
}

.sub-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem 2rem;
}

.sub-menu li a:hover {
    background-color: #b20710;
}


/* Body profile part */

.discover{
    top: 20rem;
    left: 15rem;
    position: relative;
}

.profil-img{
    cursor: pointer;
    margin-left: 2rem;
    width: 4rem;
    border: #000000 solid 2px;
    border-radius: 1rem;
}

.categorie{
    margin: 5rem 1rem;
}

.films img{
    margin: 0 1rem;
    width: 20rem;
    border-radius: 0.4rem;
}